# SQL Server
SQL_SERVER=10.10.0.251
SQL_PORT=1433
SQL_DATABASE=Audinet
SQL_USER=inventarios
SQL_PASSWORD=CAMBIAR_EN_APP_SERVICE
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERT=true
SQL_SCHEMA=Yoyoso
ITEM_TABLE=articulomaestra
STOCK_TABLE=stockarticulos
CLIENT_TABLE=clientemaestra
LOG_TABLE=LOG_CARGA_SAP
SYNC_ITEMS_ONLY=false
SYNC_STOCK_ONLY=false
SYNC_CLIENTS_ONLY=false
VALIDATION_ONLY=false

# SAP B1 Service Layer
SAP_BASE_URL=https://40.65.202.139:50000
SAP_LOGIN_PATH=/b1s/v1/Login
SAP_CLIENT_PATH=/b1s/v2/sml.svc/SANTACLIENT
SAP_COMPANY_DB=YOYOSO
SAP_USERNAME=manager
SAP_PASSWORD=CAMBIAR_EN_APP_SERVICE
SAP_REJECT_UNAUTHORIZED=false
SAP_TIMEOUT_MS=120000
# Solo para pruebas controladas. En produccion dejalas vacias.
SAP_MAX_PAGES=
SAP_MAX_RECORDS=
SAP_ITEM_MAX_RECORDS=
SAP_STOCK_MAX_RECORDS=
SAP_CLIENT_MAX_RECORDS=
